.submitModal,
.saveModal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.modalWrapper {
  //   height: 500px;
  min-width: 320px;
  padding-top: 20px;
  background: white;
  border: $borderWidth solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;

  .modalImageContainer {
    border: $borderWidth / 2 solid;
    margin: 3rem auto 2rem;
    width: 90%;
    height: 50%; // 50% of modal Wrapper
    img {
      margin: auto;
      max-width: 100%;
      // This will make the image fill up the container
      //   width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  form {
    // this will be as tall as it needs to be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    //   max-width: 90%;
    // height: 50%; => makes form overflow because of the vertical margin set up in modalImageContainer which has also the height of 50%
    // TODO: dog meme sponge bob meme don't have border-left on input elements
  }
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  background: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveButton {
  display: none;
}
