.submitModal, .saveModal {
    display: none;
}



.modal {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    &.show {
    display: flex;
    }   
}

.modalWrapper {
    height: 500px;
    width: 500px;
    padding-top: 20px;
    background: rgba($color: #000000, $alpha: 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}