.submitModal,
.saveModal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.modalWrapper {
  width: 90%;
  max-width: 500px;

  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  border: $borderWidth solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;

  .modalImageContainer {
    border: $borderWidth / 2 solid;
    background: $wayOffWhite;
    margin: 3rem auto 2rem;
    width: 90%;
    height: 40%;
    flex-grow: 1;
    img {
      margin: auto;
      max-width: 100%;
      // This will make the image fill up the container
      height: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: $lg) {
    height: 70%;
    max-width: 400px;
  }
  @media (max-width: $md) {
    height: 60%;
  }
  @media (max-width: $sm) {
    height: 80%;
  }
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveButton {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  button:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
