:root {
  --lg: 1075px;
  --md: 815px;
  --sm: 556px;
}

$lg: 1075px;
$md: 815px;
$sm: 556px;
$offWhite: #f8f8ff;
$wayOffWhite: #c0c0c0;
$offBlack: #313639;
$borderWidth: 6px;
$primary: white;
$secondary: black;
