@import 'setup.scss';
@import 'variables.scss';
@import 'modals.scss';

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background: $offWhite;
}

li {
  list-style: none;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 90%;
  text-align: center;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin: auto;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContainer {
  // display: inline-block;
  margin: auto;
  margin-top: 30px;
  border: $borderWidth solid $offBlack;
  padding: 2rem;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.galleryItem {
  margin: 30px 10px;
  width: 212px;
}

.gallery img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
}

img {
  display: block;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

.imgBox {
  border: $borderWidth solid $offBlack;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.button {
  font-size: inherit;
  background: $primary;
  padding: 10px;

  &:not(:disabled):hover {
    cursor: pointer;
    background: $secondary;
    color: white;
  }
}

.buttonContainer {
  text-align: center;
}

main {
  padding-bottom: 20px;
}

footer {
  text-align: center;
  color: $offWhite;
  background: black;
  padding: 20px;
  p {
    margin: 0 auto 10px;
    width: auto;
  }
}

@media (max-width: $sm) {
  h1 {
    font-size: 3.5rem;
    padding: 0;
  }
  ul {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}
